name: Publish to NPM

on:
  push:
    branches: 
      - main
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: write   # needed so changesets can push release PRs
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:

  changesets:
    runs-on: ubuntu-latest
    outputs:
      hasChangesets: ${{ steps.changesets.outputs.hasChangesets }}
      published: ${{ steps.changesets.outputs.published }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          ref: main
          fetch-depth: 0  

      - name: Setup PNPM
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda #v4.1.0
        with:
          version: 10.14.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: "pnpm"
          node-version-file: ".node-version"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba #v1.5.3
        with:
          title: "chore(release): new version"
          commit: "chore(release): new version"
          version: pnpm changeset version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    environment: prod
    needs: changesets
    if: needs.changesets.outputs.hasChangesets == 'false'
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          ref: main
          fetch-depth: 0  

      - name: Setup PNPM
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda #v4.1.0
        with:
          version: 10.14.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org/"
          node-version-file: ".node-version"

      - name: Install npm 11
        run: npm install -g npm@11

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm build

      - name: Publish to npm
        id: publish
        run: npm publish --access public
        working-directory: packages/oauth2
        env:
          NPM_CONFIG_PROVENANCE: true

      - name: Get current package version
        id: get_version
        run: echo "CURRENT_PACKAGE_VERSION=$(node -p "require('./packages/openid4vci/package.json').version")" >> $GITHUB_ENV

      - name: Create Github Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 #v2.4.1
        with:
          tag_name: v${{ env.CURRENT_PACKAGE_VERSION }}
